        #set($resourceid = $util.defaultIfNullOrBlank($ctx.args.resourceid, $util.autoId()))
        {
          "version" : "2018-05-29",
          "operation" : "PutItem",
          "key": {
              "resourceid": $util.dynamodb.toDynamoDBJson($resourceid)
          },
          "attributeValues" : {
              "locationid": $util.dynamodb.toDynamoDBJson($ctx.args.locationid),
              "name": $util.dynamodb.toDynamoDBJson($ctx.args.name),
              "description": $util.dynamodb.toDynamoDBJson($ctx.args.description),
              "type": $util.dynamodb.toDynamoDBJson($ctx.args.type),
              "timestamp": $util.dynamodb.toDynamoDBJson($util.time.nowISO8601())
          }
        }
