
        {
          "version" : "2018-05-29",
          "operation" : "GetItem",
          "key": {
              "locationid": $util.dynamodb.toDynamoDBJson($ctx.args.locationid)
          }
        }
