        {
          "version" : "2018-05-29",
          "operation" : "GetItem",
          "key": {
              "resourceid": $util.dynamodb.toDynamoDBJson($ctx.args.resourceid)
          }
        }
