        {
          "version" : "2018-05-29",
          "operation" : "GetItem",
          "key": {
              "bookingid": $util.dynamodb.toDynamoDBJson($ctx.args.bookingid)
          }
        }
