# Those dependencies can be omitted:
# - boto3 is part of Lambda runtime for Python
# - aws-lambda-powertools is embedded as a layer (see SAM template)
# This is always a good practice as your lambda packaged code will be much lighter, and it will be invoked quicker

boto3
aws-lambda-powertools
